body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message-field {
   display: flex;
   flex-direction: column;
   background-color: #e2e2e2;
   height: 50%;
   width: 100%;
   padding: 20px;
   overflow-y: scroll;
}

.layout {
   height: 100%;
   width: 100%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.message {
   background-color: lightblue;
   padding: 5px 15px;
   border-radius: 20px;
   font-size: 18px;
   margin: 5px;
}

.message-sender {
   color: gray;
   font-size: 14px;
}

.messageInput {
  font-size: 22px;
}

.bot {
  align-self: flex-start;
}

.me {
    align-self: flex-end;
}

.header {
   width: 100%;
   margin: auto;
   display: flex;
}
/* style={ { alignSelf: item.author === 'robot' ?
  'flex-start' : 'flex-end' } } */
